<header>
    <div id="headerRight">
        <a routerLink="/">Home</a>
        @if (isLoggedIn) {
            <button routerLink="/">My Projects</button>
        } 
    </div>

    @if (isLoggedIn) {
        <div id="headerLeftLoggedIn">
            <a routerLink="/">Profile</a>
            <a routerLink="/" (click)="logOut()">Log out</a>
        </div>

    } @else {
        <div id="headerLeftLoggedOut">
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
        </div>
    }
</header>