<div class="projectClass">
    @if (project) {
    <div class="projectSettings">
        <button class="projectSettingButton" (click)="displayNoteGroupDialog()">Create a note group</button>
        <button class="projectSettingButton" (click)="displayMemberListDialog()">Member List</button>
        <button class="projectSettingButton">Delete project</button>
    </div>

    <div class="grouplist">
        @for (notegroup of project.noteGroups; track $index) {
        <div class="notegroup">
            <div class="notegroupDivTop">
                <span></span>
                <h2>
                    @if (!notegroup.edit) {
                    {{ notegroup.name }}
                    } @else {
                    <input type="text" [(ngModel)]=notegroup.name>
                    <button (click)="noteGroupSaveEditName(notegroup)" class="pi pi-check"></button>
                    }
                    
                    @if (notegroup.completed) {
                        <span class="pi pi-check"></span>
                    }
                </h2>

                <div class="notegroupOptionMenu">
                    <p-button (click)="notegroupPopover.toggle($event)" icon="pi pi-ellipsis-v" />
                    <p-popover #notegroupPopover>
                        <div class="notegroupPopover" (click)="notegroupPopover.hide()">
                            <a href="javascript:void(0);" (click)="noteGroupSetCompleted(notegroup, !notegroup.completed)">Set completed</a>
                            <a href="javascript:void(0);" (click)="notegroup.edit = true">Change group name</a>
                            <a href="javascript:void(0);" (click)="noteGroupDelete(notegroup.id)">Delete group</a>
                        </div>
                    </p-popover>
                </div>
            </div>

            <hr>

            @for (note of notegroup.notes; track note.id) {
            <div class="note">
                <div class="noteLeftDiv">
                    <input class="finishedNoteCheckbox" type="checkbox" [checked]=note.completed
                        (change)="noteSetCompleted(note.id, $event.target.checked)">

                    <!-- Change text to input if user clicked on the edit button -->
                    @if (!note.edit) {
                    {{ note.text }}
                    } @else {
                    <input type="text" [(ngModel)]=note.text>
                    }
                </div>

                <div class="noteRightDiv">

                    @if (!note.edit) {
                    <button (click)="note.edit=true" class="pi pi-pencil"></button>
                    } @else {
                    <button (click)="noteSaveEdit(note)" class="pi pi-check"></button>
                    }

                    <button (click)="noteDelete(note.id)" class="deleteNoteButton pi pi-trash"></button>
                </div>
            </div>
            }

            <button class="createNoteButton" (click)="displayNoteDialog($index)">Create a note</button>
        </div>
        }
    </div>
    }
</div>