.projectClass > * {
    margin: 20px;
}

.projectSettings {
    display: flex;
    gap: 50px;
    padding: 10px 0px;
}

/*#region Notegroup classes*/
.grouplist {
    display: flex;
    gap: 50px;
    overflow: scroll;
}

.notegroup {
    border: 1px solid;
    min-width: 400px;
    text-align: center;
    height: 100%;
}

.notegroupDivTop {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.notegroupOptionMenu {
    display: flex;
    align-items: center;
}

.notegroupPopover {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    gap: 10px;
}

/*#endregion*/

/*#region Note classes*/
.note {
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

div:has(> .noteLeftDiv > input[type=checkbox]:checked) {
    text-decoration: line-through;
    background-color: hsl(0, 0%, 90%);
}

.noteLeftDiv {
    display: flex;
}

.createNoteButton {
    margin: 25px;
}

/*#endregion*/