.projectClass > * {
    margin: 20px;
}

.projectSettings {
    display: flex;
    gap: 50px;
    padding: 10px 0px;
}

.grouplist {
    display: flex;
    gap: 50px;
    overflow: scroll;
}

.notegroup {
    border: 1px solid;
    min-width: 400px;
    text-align: center;
    height: 100%;
}

.note {
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.createNoteButton {
    margin: 25px;
}